<!-- webportal/templates/webportal/contact.html -->
{% extends 'layout.html' %}

{% block title %}Contact{% endblock %}

{% block content %}
    <section>
        <h2>Contact Information</h2>
        <p>Email: dj.j4tt@gmail.com</p>
        <p>Mobile: 0416 511 004</p>
        <p>Address: 32 Torbay St, Griffin, QLD 4503 AU</p>
        <!-- Open GitHub link in a new tab -->
        <p>GitHub: <a href="https://github.com/raviTrybz" target="_blank">github.com/raviTrybz</a></p>
        <p>Visa Status: Australian Citizen</p>
    </section>

{% endblock %}
